<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://unpkg.com/@universis/theme@1.0.5/css/universis.css"
          integrity="sha384-GcIMWx3Jq0rHFUoV9TxtmxKkYHxwNoaXhDb/sNO7H6s6X34p02LJyfVwnH2B61sl"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="text-right mb-2">
        <img style="height: 64px" src="https://students.universis.io/assets/img/universis_logo_128_color.png"
             alt="Universis Project Logo">
    </div>
    <div class="page-header">
        <h3>Κατάσταση Δικαιώματος Σίτισης</h3>
    </div>
    <p>Αγαπητέ/ή <%= model.student.person.givenName %> <%= model.student.person.familyName %>,</p>
    <p>
        Η κατάσταση του δικαιώματος σίτισής σου άλλαξε. Μπορείς να δεις την τρέχουσα εικόνα του δικαιώματος <a href="<%= application.url %>/#/<%= configuration.url %>">εδώ</a> 
    </p>
    
    <br>
    <p>Με εκτίμηση,</p>
    <p>Universis Support</p>
</div>
</body>
</html>
